

<h2><%= @article["title_of_article"] %></h2>
<h2><%= @article["created_at"] %></h2>
<h2><%= @article["author_id"] %></h2>
<h2><%= @category["category_name"] %></h2>
<h2><%= @article["article"] %></h2>
<h2><%= @article["image_url"] %></h2>








